<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Statelymen_Test_Suite">
    <classes>
      <class name="com.testcases.Quiz_Statelymen_Test"/>
   <!--   <class name="com.testcases2.Quiz_Statelymen_NewMember_Test"/>
      <class name="com.testcases3.Quiz_Statelymen_Any_Plan_Choose_Test"/> -->
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
